<h1>To add task fill out the empty fields and hit submit</h1>

<form method="POST" action="/tasks">

  
  <input type="text" name="title">

  <textarea name="body"></textarea>
<!-- For long entry -->
  <input type="submit">

</form>
